@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">
        @ViewData["FlagInfo"]
    </h1>
    
    <h1>
        L&#9901;VE/H&#9760;TE
        
        
        &#x2620;
    </h1>
    
    <h2>
        &#9744;
        &#9745;
    </h2>
    
    <p>
        https://www.w3schools.com/charsets/ref_utf_misc_symbols.asp
        
        https://www.toptal.com/designers/htmlarrows/symbols/
    </p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
